@*
    UNA - Tecnologia em Analise e Desenvolvimento de sistemas
    Disciplina:Práticas de Programação
    Professor: Luiz Eduardo Carneiro
    Período: 2º semestre/2019
    Autores: Gercy Campos
    Informações: Página para exibicao e manutençao dos centros de custos
*@
@page
@model UNA.PraticasProgramacao.Web.Pages.CentroCustos.IndexModel

@{
    ViewData["Title"] = "Centros de Custo";
    Layout = "~/Pages/Shared/_Layout_Grid.cshtml";
}

<h2>Centros de Custo</h2>

<p>
    <a asp-page="Create">Novo</a>
</p>
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CentroCusto[0].NomeCentroCusto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CentroCusto[0].Responsavel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CentroCusto)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeCentroCusto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Responsavel)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.IdCentroCusto"> <i class="fas fa-edit"></i></a> |
                    <a asp-page="./Details" asp-route-id="@item.IdCentroCusto"> <i class="fas fa-expand"></i></a> |
                    <a asp-page="./Delete" asp-route-id="@item.IdCentroCusto"><i class="fas fa-ban"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
