@page
@model UNA.PraticasProgramacao.Web.Pages.CentroCustos.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout_Grid.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CentroCusto[0].NomeCentroCusto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CentroCusto[0].Responsavel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CentroCusto) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCentroCusto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Responsavel)
            </td>
            <td>
                <a class="btn btn-primary btn-circle btn-sm" asp-page="./Edit" asp-route-id="@item.IdCentroCusto">Edit</a> |
                <a class="btn btn-primary btn-circle btn-sm" asp-page="./Details" asp-route-id="@item.IdCentroCusto">Details</a> |
                <a class="btn btn-primary btn-circle btn-sm" asp-page="./Delete" asp-route-id="@item.IdCentroCusto">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
