@page
@model UNA.PraticasProgramacao.Web.Pages.Movimentos.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>Movimento</h4>
<hr />
<div class="row">
    <div class="col-lg-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <label asp-for="Movimento.IdTipoMovimento" class="control-label"></label>
                    <select asp-for="Movimento.IdTipoMovimento" class="form-control" asp-items="ViewBag.IdTipoMovimento"></select>
                </div>
                <div class="col-sm-2">
                    <label asp-for="Movimento.DataMovimento" class="control-label"></label>
                    <input asp-for="Movimento.DataMovimento" class="form-control" />
                    <span asp-validation-for="Movimento.DataMovimento" class="text-danger"></span>
                </div>

                <div class="col-lg-6">
                    <br />
                    <label asp-for="Movimento.Observacao" class="control-label"></label>
                    <hr />
                    <input asp-for="Movimento.Observacao" class="form-control-lg" />
                    <span asp-validation-for="Movimento.Observacao" class="text-danger"></span>
                </div>


            </div>

            <div class="form-group">
                <label asp-for="Movimento.IdParceiro" class="control-label"></label>
                <select asp-for="Movimento.IdParceiro" class="form-control" asp-items="ViewBag.IdParceiro"></select>
            </div>

            <div>
                <a asp-page="#" data-toggle="modal" data-target="#addItm">Novo Item</a>
            </div>
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>
                                    Cód. Produto
                                </th>
                                <th>
                                    Descrição Produto
                                </th>
                                <th>
                                    Quantidade
                                </th>
                                <th>
                                    Valor Unitário
                                </th>
                                <th>
                                    Desconto
                                </th>
                                <th>
                                    Valor  Total
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            @*@foreach (var item in Model.Movimento.ItemMovimento)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Produtos.CodigoProduto)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Produtos.DescricaoProduto)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Quantidade)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ValorUnitario)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ValorDesconto)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ValorTotal)
                                        </td>
                                        <td>

                                            <a class="btn btn-primary btn-circle btn-sm" asp-page="./Edit" asp-route-id="@item.IdMovimento">Edit</a> |
                                            <a class="btn btn-primary btn-circle btn-sm" asp-page="./Details" asp-route-id="@item.IdMovimento">Details</a> |
                                            <a class="btn btn-primary btn-circle btn-sm" asp-page="./Delete" asp-route-id="@item.IdMovimento">Delete</a>
                                        </td>
                                    </tr>
                                }*@
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="form-group">
                <label asp-for="Movimento.ValorDesconto" class="control-label"></label>
                <input asp-for="Movimento.ValorDesconto" class="form-control" />
                <span asp-validation-for="Movimento.ValorDesconto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movimento.ValorTotal" class="control-label"></label>
                <input asp-for="Movimento.ValorTotal" class="form-control" />
                <span asp-validation-for="Movimento.ValorTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movimento.IdFormaPagamento" class="control-label"></label>
                <select asp-for="Movimento.IdFormaPagamento" class="form-control" asp-items="ViewBag.IdFormaPagamento"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
    <div class="col-md-4">

    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

<!-- Logout Modal-->
<div class="modal fade" id="addItm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="#">Logout</a>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{

        <!-- Page level plugins -->
        <script src="@Url.Content("~/vendor/datatables/jquery.dataTables.min.js")"></script>
        <script src="@Url.Content("~/vendor/datatables/dataTables.bootstrap4.min.js")"></script>
        <!-- Page level custom scripts -->
        <script src="@Url.Content("~/js/demo/datatables-demo.js")"></script>

        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
