@page
@model UNA.PraticasProgramacao.Web.Pages.Movimentos.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Movimento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Movimento.DataMovimento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movimento.DataMovimento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movimento.Observacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movimento.Observacao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movimento.ValorDesconto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movimento.ValorDesconto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movimento.ValorTotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movimento.ValorTotal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movimento.FormaPagamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movimento.FormaPagamento.IdFormaPagamento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movimento.Parceiro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movimento.Parceiro.IdParceiro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movimento.TipoMovimento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movimento.TipoMovimento.IdTipoMovimento)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Movimento.IdMovimento" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
