@page
@model UNA.PraticasProgramacao.Web.Pages.Movimentos.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Movimento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Movimento.DataMovimento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movimento.DataMovimento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movimento.Observacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movimento.Observacao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movimento.ValorDesconto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movimento.ValorDesconto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movimento.ValorTotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movimento.ValorTotal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movimento.FormaPagamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movimento.FormaPagamento.IdFormaPagamento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movimento.Parceiro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movimento.Parceiro.IdParceiro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movimento.TipoMovimento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movimento.TipoMovimento.IdTipoMovimento)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Movimento.IdMovimento">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
