@page
@model UNA.PraticasProgramacao.Web.Pages.Movimentos.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout_Grid.cshtml";
}

<h2>Index</h2>

<p>
    @*<a data-toggle="modal" data-target="#addMov">Create New</a>*@
    <a asp-page="Create">Create New</a>
</p>
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movimento[0].DataMovimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movimento[0].Observacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movimento[0].ValorDesconto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movimento[0].ValorTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movimento[0].FormaPagamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movimento[0].Parceiro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movimento[0].TipoMovimento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Movimento)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DataMovimento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorDesconto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FormaPagamento.IdFormaPagamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Parceiro.IdParceiro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoMovimento.IdTipoMovimento)
                </td>
                <td>

                    <a class="btn btn-primary btn-circle btn-sm" asp-page="./Edit" asp-route-id="@item.IdMovimento">Edit</a> |
                    <a class="btn btn-primary btn-circle btn-sm" asp-page="./Details" asp-route-id="@item.IdMovimento">Details</a> |
                    <a class="btn btn-primary btn-circle btn-sm" asp-page="./Delete" asp-route-id="@item.IdMovimento">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Logout Modal-->
<div class="modal fade" id="addMov" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="#">Logout</a>
            </div>
        </div>
    </div>
</div>