@page
@model UNA.PraticasProgramacao.Web.Pages.Parceiros.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Detalhes</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Parceiro.NomeParceiro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Parceiro.NomeParceiro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Parceiro.TipoParceiro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Parceiro.TipoParceiro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Parceiro.CpfCnpj)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Parceiro.CpfCnpj)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Parceiro.NomeEndereco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Parceiro.NomeEndereco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Parceiro.NumeroEndereco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Parceiro.NumeroEndereco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Parceiro.Complemento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Parceiro.Complemento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Parceiro.Bairro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Parceiro.Bairro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Parceiro.Municipio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Parceiro.Municipio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Parceiro.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Parceiro.Estado)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Parceiro.IdParceiro">Editar</a> |
    <a asp-page="./Index">Voltar à lista</a>
</div>
