@page
@model UNA.PraticasProgramacao.Web.Pages.Parceiros.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout_Grid.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Parceiro[0].NomeParceiro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parceiro[0].TipoParceiro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parceiro[0].CpfCnpj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parceiro[0].NomeEndereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parceiro[0].NumeroEndereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parceiro[0].Complemento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parceiro[0].Bairro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parceiro[0].Municipio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parceiro[0].Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Parceiro) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeParceiro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoParceiro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CpfCnpj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeEndereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroEndereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Complemento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Municipio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a class="btn btn-primary btn-circle btn-sm" asp-page="./Edit" asp-route-id="@item.IdParceiro">Edit</a> |
                <a class="btn btn-primary btn-circle btn-sm" asp-page="./Details" asp-route-id="@item.IdParceiro">Details</a> |
                <a class="btn btn-primary btn-circle btn-sm" asp-page="./Delete" asp-route-id="@item.IdParceiro">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
