@*
    UNA - Tecnologia em Analise e Desenvolvimento de sistemas
    Disciplina:Práticas de Programação
    Professor: Luiz Eduardo Carneiro
    Período: 2º semestre/2019
    Autores: Gercy Campos
    Informações: Página com confirmação de exclusao de movimentacao financeira
*@

@page
@model UNA.PraticasProgramacao.Web.Pages.LancFinanceiro.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<h4>Tem certeza que deseja excluir a movimentação financeira?</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LancamentoFinanceiro.DataVencimento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LancamentoFinanceiro.DataVencimento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LancamentoFinanceiro.TipoLancamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LancamentoFinanceiro.TipoLancamento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LancamentoFinanceiro.HistoricoLancamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LancamentoFinanceiro.HistoricoLancamento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LancamentoFinanceiro.ValorLancamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LancamentoFinanceiro.ValorLancamento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LancamentoFinanceiro.DataPagamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LancamentoFinanceiro.DataPagamento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LancamentoFinanceiro.CentroCusto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LancamentoFinanceiro.CentroCusto.NomeCentroCusto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LancamentoFinanceiro.ContaBancaria)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LancamentoFinanceiro.ContaBancaria.NomeConta)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="LancamentoFinanceiro.IdLancamentoFinanceiro" />
        <input type="submit" value="Remover" class="btn btn-default" /> |
        <a asp-page="./Index">Voltar à lista</a>
    </form>
</div>
