@*
    UNA - Tecnologia em Analise e Desenvolvimento de sistemas
    Disciplina:Práticas de Programação
    Professor: Luiz Eduardo Carneiro
    Período: 2º semestre/2019
    Autores: Gercy Campos
    Informações: Página para exibicao e manutençao das contas bancarias
*@

@page
@model UNA.PraticasProgramacao.Web.Pages.ContasBancarias.IndexModel

@{
    ViewData["Title"] = "Contas Bancarias";
    Layout = "~/Pages/Shared/_Layout_Grid.cshtml";
}

<h2>Contas Bancárias</h2>

<p>
    <a asp-page="Create">Nova Conta</a>
</p>
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContaBancaria[0].Banco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContaBancaria[0].Agencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContaBancaria[0].NumeroConta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContaBancaria[0].SaldoInicial)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ContaBancaria)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Banco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Agencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroConta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SaldoInicial)
                </td>
                <td>

                    <a asp-page="./Edit" asp-route-id="@item.IdContaBancaria">
                        <i class="fas fa-edit" title="Editar"></i>
                    </a> |
                    <a asp-page="./Details" asp-route-id="@item.IdContaBancaria">
                        <i class="fas fa-expand" title="Detalhes"></i>
                    </a> |
                    <a asp-page="./Delete" asp-route-id="@item.IdContaBancaria">
                        <i class="fas fa-ban" title="Excluir"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
