@page
@model UNA.PraticasProgramacao.Web.Pages.FormasPagto.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout_Grid.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FormaPagamento[0].DescricaoFormaPagamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormaPagamento[0].PrazoDias)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.FormaPagamento) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoFormaPagamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrazoDias)
            </td>
            <td>
                <a class="btn btn-primary btn-circle btn-sm" asp-page="./Edit" asp-route-id="@item.IdFormaPagamento">Edit</a> |
                <a class="btn btn-primary btn-circle btn-sm" asp-page="./Details" asp-route-id="@item.IdFormaPagamento">Details</a> |
                <a class="btn btn-primary btn-circle btn-sm" asp-page="./Delete" asp-route-id="@item.IdFormaPagamento">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
